@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  font-family: "Inter", sans-serif;
}
#root {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 90%;
  width: 80%;
  background-color: white;
  text-align: center;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-height: 10%;
}

.w {
  font-size: 4rem;
  font-family: "DM Serif Display", serif;
}
.header-tags {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  opacity: 50%;
}

.home:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
.new:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
.popular:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
.trending:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
.categories:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

/* ======Middle Content====== */

.middle-content {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 62%;
}

.left-top-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.left-bottom-content {
  display: flex;
  justify-content: space-between;
  max-height: 100%;
  margin-top: 2rem;
}

.lbc-div-paragraph {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.lbc-paragraph {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: left;
  line-height: 1;
}

.lbc-div-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.lbc-small-paragraph {
  font-size: 1rem;
}

.btn {
  height: 3rem;
  min-height: 2rem;
  width: 12rem;
  background-color: hsl(5, 85%, 63%);
  color: white;
  letter-spacing: 0.2rem;
  border: none;
}

.btn:hover {
  background-color: black;
  cursor: pointer;
}

/* =========Middle Right=========== */

.right-content {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.shrink {
  height: 90%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  align-items: flex-start;
  text-align: left;
}

.straight-line {
  width: 100%;
  height: 1px;
  background-color: white;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rc-new {
  color: hsl(35, 77%, 62%);
  font-size: 2.5rem;
}

.rc-firstP,
.rc-thirdP,
.rc-fifthP {
  font-weight: bold;
  font-size: 1.3rem;
}

.rc-firstP:hover {
  cursor: pointer;
  color: hsl(35, 77%, 62%);
}
.rc-thirdP:hover {
  cursor: pointer;
  color: hsl(35, 77%, 62%);
}
.rc-fifthP:hover {
  cursor: pointer;
  color: hsl(35, 77%, 62%);
}

.rc-secondP,
.rc-fourthP,
.rc-sixthP {
  font-size: 0.9rem;
  line-height: 2rem;
  opacity: 60%;
}

/* ===========Bottom Content=========== */

.bottom-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.first-box,
.second-box,
.third-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
}

.fb-number {
  font-size: 2rem;
  font-weight: bold;
  opacity: 40%;
}

.fb-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.fb-title:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

.firstText {
  margin-right: 2rem;
}
.secondText {
  margin-right: 3rem;
}

.pc-img {
  height: 8.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  object-fit: contain;
  margin-right: 1rem;
}

.test {
  height: 100px;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1105px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 939px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 940px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 805px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 7px;
  }

  .btn {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 16px;
  }

  .dropdown-menu {
    position: relative;
    display: inline-block;
  }

  .big-menu {
    height: 100%;
    width: 60%;
    background-color: white;
    color: white;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    box-shadow: -5px 0 50px rgba(0, 0, 0, 0.3);
  }

  .big-X {
    display: flex;
    justify-content: end;
    height: 10%;
    /* background-color: green; */
  }
  .x {
    margin-right: 1.5rem;
    margin-top: 1rem;
    color: black;
    font-size: 3.3rem;
  }

  .big-items {
    /* background-color: yellow; */
    height: 60%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1.5rem;
    font-size: 1.2rem;
  }

  .big-items-container {
    /* background-color: orange; */
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    letter-spacing: 0.1rem;
  }

  .middle-content {
    display: flex;
    flex-direction: column;
  }

  .left-content {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .left-bottom-content {
    display: flex;
    flex-direction: column;
  }

  .lbc-small-paragraph {
    margin-top: 1rem;
  }

  .btn {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  .right-content {
    width: 100%;
  }

  .bottom-container {
    display: flex;
    flex-direction: column;
  }

  .pc-img {
    height: 12rem;
  }

  .first-box,
  .second-box,
  .third-box {
    margin-top: 2rem;
  }

  .firstText {
    margin-right: 0rem;
  }
  .secondText {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 303px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 259px) {
  html {
    font-size: 10px;
  }
}
