body {
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  background-color: teal;
}
#root {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 90%;
  width: 80%;
  background-color: white;
  text-align: center;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-height: 10%;
}

.w {
  font-size: 4rem;
}
.header-tags {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* ======Middle Content====== */

.middle-content {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 62%;
}

.left-bottom-content {
  display: flex;
  justify-content: space-between;
  height: 35%;
}

.lbc-paragraph {
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-size: 1rem;
}

.lbc-div-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.right-content {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.shrink {
  height: 90%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  align-items: flex-start;
  text-align: left;
}
